header{
	background-image: url("https://static.nationalgeographic.co.uk/files/styles/image_3200/public/01-platypus-decline-20180430_3dg1547.jpg?w=1600&h=900");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: 0.9;
	padding: 35px;
}

h1{
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	font-family: Serif, "Times New Roman", Arial;
	position: relative;
	top: 27px;
}

.topnav{ 	
	position: absolute;
	top: 137.50px;
	left: 0px;
	width: 100%;
	background-color: rgba(255,255,255,0.6);
	overflow: hidden;
}

.topnav a{
	float: left;
	text-align: center;
	text-decoration: none;
	color: #000000;
	opacity: 1;
	font-size: 19px;
	padding: 5px 0;
	width: 220px;
	border-right: 2px solid #D5D5D5;
}

.topnav a.active{
	color: #000000;
	font-weight: 550;
	background-color: #FFFFFF;
	opacity: 1;
}

.topnav a:hover{
	background-color: #C2C2C2;
	color: #000000;
}

.topnavright{
	float: right;
	border-left: 2px solid #D5D5D5;
}

body{
	margin: 0;
	padding: 0;
}

.left{
	display: inline-block;
	float: left;
	background: linear-gradient(#523B00, #876000, #BF8800);
	width: 15.5%;
	height: 100vh;
}

.right{
	display: inline-block;
	float: right;
	text-align: left;
	width: 78%;
	margin-right: 4%;
}

.left img{
	display: block;
	border: 1.8px solid #000000;
	margin: 18px;
	max-width: 80%;
	max-height: 80%;
	height: auto;
	width: auto;
	position: relative;
}

img{
	display: block;
	margin: 18px;
	max-width: 80%;
	max-height: 80%;
	height: auto;
	width: auto;
	position: relative;
}

#mainpic{
	display: block;
	margin: 15px;
	max-width: 50%;
	max-height: 50%;
	height: auto;
	width: auto;
	position: relative;
	margin-left: 1px;
}

h2{
	color: #7E5109;
	font-size: 24px;
	font-weight: 600;
	text-align: left;
	font-family: Serif, "Times New Roman", Arial;
	text-transform: uppercase;
}

p{
	color: #000000;
	font-size: 20px;
	text-align: justify;
	font-family: Serif, "Times New Roman", Arial;
}

#gallery{
	color: #FFFFFF;
	opacity: 0.95;
	font-size: 18px;
	text-align: center;
	text-weight: 600;
	text-transform: uppercase;
	font-family: Serif, "Times New Roman", Arial;
	position: relative;
	top: 5px;
}

table.cal{
	border-spacing: 0px;
	border: 3px solid #FFFFFF;
}
	
th{
	padding: 1%;
	background-color: #A47900;
	border-top: 1px solid #815F00;
	border-bottom: 1px solid #815F00;
	border-radius: 5px 5px 0 0;
	color: #FFFFFF;
	font-family: Serif, "Times New Roman", Arial;
	font-size: 16px;
	text-align: center;
}

tr td{
	margin: 2px;
	padding: 1%;
	background-color: rgba(243,228,187,0.7);
	font-family: Serif, "Times New Roman", Arial;
	font-size: 15px;
	color: #000000;
	text-align: left;
}

th, tr td{
	text-align: center;
	height: 5px;
	width: 200px;
}

tr td:nth-child(2){
	text-align: justify;
	width: 500px;
}

tr td:first-child{
	font-weight: 600;
}

tr:hover td{
	background-color: rgba(243,228,187,1);
}

.column{
	display: flex;
	float: left;
	margin-right: -55px;
	height: 225px;
	width: 400px;
}

.row:after{
	clear: both;
	content:"";
	display: table;
}

.column img{
	border: none;
	padding: 2px;
	margin: 5px;
	height: 225px;
	width: 385px;
	margin-right: -125px;
	margin-left: -2px;
}

.column figcaption{
	width: 325px;
	font-size: 17px;
	font-family: Serif, "Times New Roman", Arial;
	color: #664C00;
	position: relative;
	top: 200px;
	margin-left: -175px;
	margin-right: 75px;
	text-decoration: underline;
}

h3{
	color: #946F00;
	font-size: 22px;
	text-align: left;
	font-family: Serif, "Times New Roman", Arial;
}

#venotext{
	display: inline-block;
	float: left;
	width: 73%;
	margin-top: 1px;
}

#venospur{
	display: inline-block;
	float: right;
	border: none;
	height: 150px;
	margin-top: -30px;
	padding: 2px;
	margin-right: 40px;
}

.veno:after{
	clear: both;
	content:"";
	display: table;
}

.tail{
	margin-top: -20px;
}

.factscolumn{
	display: flex;
	float: left;
	height: 225px;
	width: auto;
	margin-right: -60px;
	margin-left: -15px;
}

.factsrow:after{
	clear: both;
	content:"";
	display: table;
}

#factsplatypus{
	color: #664C00;
	font-size: 17px;
	font-family: Serif, "Times New Roman", Arial;
	display: inline;
	position: relative;
	top: 215px;
	left: -210px;
	text-align: center;
	text-decoration: underline;
}

#factsechidna{
	color: #664C00;
	font-size: 17px;
	font-family: Serif, "Times New Roman", Arial;
	display: inline;
	position: relative;
	top: 215px;
	left: -190px;
	text-align: center;
	text-decoration: underline;
}

#resourcespic{
	width: 55%;
	margin-left: 1px;
}

ul{
	color: #000000;
	text-align: justify;
	font-family: Serif, "Times New Roman", Arial;
	font-size: 18px;
}

